*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(201, 198, 198);
    box-sizing: border-box;
}

.hero{
    background-color: #1f2932;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.hero-header{
    display: flex;
    gap: 17.5rem;
}

.hero-logo{
    font-size: 25px;
    font-weight: 900;
    color: rgb(202, 199, 199);
    padding: 4px 32px;
}

ul{
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
    gap: 10px ;
}

a{
    text-transform: lowercase;
    color: #f9faf9;
}

.hero-main{
   width: 150px;
   height: 30px;
   color: #f9faf9;  
   display: flex;
   flex-direction: column;
   margin: 0 15px;
   gap: 10px;
}

h3{
    color: black;
    margin: 20px;
}

.hero-main > p{
    width: 100px;
    height: 100px;
    margin: 5px 25px 25px 25px;
}

.hero > img{
   width: 250px;
   height: 250px; 
   border: 10px solid #000 ;
   border-radius: 10px ; 
   display: block;
   margin: auto ;
}


button{
    width: 80px;
    height: 35px;
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10em;
    margin-left: 4em;
    margin-right: 14em ;
    cursor: pointer;
    
}

.information{
    height: 100px;
    background-color: rgb(222, 223, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    align-self: center;
    
}

.information > li{
    list-style: none;
    display: flex;
    align-items: stretch;
}

